* {
    font: "JetBrainsMono Nerd Font 13";
    text-color:      #ece1d4;
    foreground:      #ffb4ab;
}

/* Configuration */
configuration {
    modi: "drun";
    show-icons: false;
    display-run:  "";
    display-drun:  "";
    disable-history: true;
    kb-row-up:        "Up,Control+k";
    kb-row-down:      "Down,Control+j";
    kb-accept-entry:  "Return,Control+m";
    kb-remove-to-eol: "";
}

/* Window appearance */
window {
    transparency:   "real";
    width:          445px;
    height:         560px;
    border-radius:  7px;
    background-color: #17130b;
    border:         2px solid;
    border-color:   #4e4539;
    padding:        6px;
}

/* Layout */
mainbox {
    spacing: 10px;
    margin:  0;
    padding: 8px;
    children: ["listview", "inputbar", "message"];
}

/* Input bar */
inputbar {
    children: ["prompt", "entry"];
    spacing:  10px;
    padding:  12px 10px;
    border-radius: 18px;
    border: 2px solid;
    border-color: #4e4539;
    background-color: #241f17;
}

prompt {
    text-color: #ece1d4;
}

entry {
    placeholder: "Type to search...";
    placeholder-color: #d2c4b4;
    text-color: #ece1d4;
}

/* List view */
listview {
    columns:       1;
    lines:         7;
    spacing:       2px;
    fixed-height:  true;
    fixed-columns: false;
    scrollbar:     false;
    cycle:         false;
    border:        0px solid;
    layout:        "vertical";
}

/* Elements */
element {
    spacing: 10px;
    margin:  0;
    padding: 8px;
}

element normal.normal {
    background-color: transparent;
    text-color:       #4e4539;
}

element alternate.normal {
    background-color: transparent;
    text-color:       #4e4539;
}

element selected.normal,
element selected.active {
    background-color: transparent;
    text-color:       #ece1d4;
}

/* Message area */
message {
    border: 8px solid;
    text-color: #ffb4ab;
}
