* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #D3C6AA;
}

tooltip {
    background: #2D353B;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #343F44;
}

#workspaces button {
    padding: 5px;
    color: #7A8478;
    margin-right: 5px;
}

#workspaces button.active {
    color: #D3C6AA;
}

#workspaces button.focused {
    color: #2D353B;
    background: #A7C080;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #2D353B;
    background: #E67E80;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #343F44;
    color: #D3C6AA;
    border-radius: 5px;
}

#custom-power_profile,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#workspaces,
#tray,
#backlight,
#cpu,
#memory {
    background: #343F44;
    padding: 0px 10px;
    margin: 15px 0px;
    margin-top: 10px;
    border: 1px solid #2D353B;
}

/* Grupo 1: CPU + Memory + Power Profile */
#cpu {
    color: #A7C080;
    border-radius: 10px 0px 0px 10px;
    margin-left: 0px;
    border-right: 0px;
}

#memory {
    color: #A7C080;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
}

#custom-power_profile {
    border-radius: 0px 10px 10px 0px;
    margin-right: 5px;
    border-left: 0px;
}

/* Grupo 2: Network + Bluetooth */
#network {
    color: #A7C080;
    border-radius: 10px 0px 0px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#bluetooth {
    color: #A7C080;
    border-radius: 0px 10px 10px 0px;
    margin-right: 5px;
    border-left: 0px;
}

/* Grupo 3: Audio + Micrófono */
#pulseaudio {
    color: #A7C080;
    border-radius: 10px 0px 0px 10px;
    margin-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #A7C080;
    border-radius: 0px 10px 10px 0px;
    margin-right: 5px;
    border-left: 0px;
}

/* Grupo 4: Battery */
#battery {
    color: #A7C080;
    border-radius: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

#battery.warning {
    color: #DBBC7F;
}

#battery.critical {
    color: #E67E80;
}

/* Grupo 5: Backlight (sola) */
#backlight {
    color: #A7C080;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#tray {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

/* Grupo 6: Power button */
#custom-power {
    color: #E67E80;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 7px;
}

#workspaces {
    background: #343F44;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-power_profile.quiet {
    color: #A7C080;
}

#custom-power_profile.balanced {
    color: #D3C6AA;
}

#custom-power_profile.performance {
    color: #E67E80;
}

#clock {
    color: #A7C080;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
