* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    border-color: #313244;
}

#workspaces button {
    padding: 5px;
    color: #6c7086;
    margin-right: 5px;
}

#workspaces button.active {
    color: #cdd6f4;
}

#workspaces button.focused {
    color: #11111b;
    background: #cba6f7;
    border-radius: 6px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #f38ba8;
    border-radius: 6px;
}

#workspaces button:hover {
    background: #313244;
    color: #cdd6f4;
    border-radius: 3px;
}

#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#workspaces,
#tray,
#backlight,
#cpu,
#memory {
    background: #313244;
    padding: 0px 10px;
    margin: 6px 0px 8px;
    border: 1px solid #6c7086;
}

/* Grupo 1: CPU + Memory + Power Profile */
#cpu {
    color: #cba6f7;
    border-radius: 6px 0px 0px 6px;
    margin-left: 0px;
    border-right: 0px;
}

#memory {
    color: #cba6f7;
    border-radius: 0px 6px 6px 0px;
    border-left: 0px;
    border-right: 0px;
}

/* Grupo 2: Network + Bluetooth */
#network {
    color: #cba6f7;
    border-radius: 6px 0px 0px 6px;
    margin-left: 5px;
    border-right: 0px;
}

#bluetooth {
    color: #cba6f7;
    border-radius: 0px 6px 6px 0px;
    margin-right: 5px;
    border-left: 0px;
}

/* Grupo 3: Audio + Micrófono */
#pulseaudio {
    color: #cba6f7;
    border-radius: 6px 0px 0px 6px;
    margin-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-radius: 0px 6px 6px 0px;
    margin-right: 5px;
    border-left: 0px;
}

/* Grupo 4: Battery */
#battery {
    color: #cba6f7;
    border-radius: 6px;
    margin-left: 0px;
    margin-right: 0px;
}

#battery.warning {
    color: #f9e2af;
}

#battery.critical {
    color: #f38ba8;
}

/* Grupo 5: Backlight (sola) */
#backlight {
    color: #cba6f7;
    border-radius: 6px;
    margin-left: 5px;
    margin-right: 5px;
}

#tray {
    border-radius: 6px;
    margin-left: 5px;
    margin-right: 10px;
}

#workspaces {
    background: #313244;
    border-radius: 6px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#clock {
    color: #cba6f7;
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 5px;
}
