* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 18px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #ebdbb2;
}

tooltip {
    background: #282828;
    border-radius: 8px;
    border-width: 3px;
    border-style: solid;
    border-color: #3c3836;
}

#workspaces button {
    padding: 6px;
    color: #7c6f64;
    margin-right: 6px;
}

#workspaces button.active {
    color: #ebdbb2;
}

#workspaces button.focused {
    color: #282828;
    background: #fe8019;
    border-radius: 8px;
}

#workspaces button.urgent {
    color: #282828;
    background: #fb4934;
    border-radius: 8px;
}

#workspaces button:hover {
    background: #3c3836;
    color: #ebdbb2;
    border-radius: 4px;
}

#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#workspaces,
#tray,
#backlight,
#cpu,
#memory {
    background: #3c3836;
    padding: 0px 13px;
    margin: 8px 0px 10px;
    border: 1px solid #7c6f64;
}

/* Grupo 1: CPU + Memory + Power Profile */
#cpu {
    color: #fe8019;
    border-radius: 8px 0px 0px 8px;
    margin-left: 0px;
    border-right: 0px;
}

#memory {
    color: #fe8019;
    border-radius: 0px 8px 8px 0px;
    margin-left: 0px;
    border-right: 0px;
}

/* Grupo 2: Network + Bluetooth */
#network {
    color: #fe8019;
    border-radius: 8px 0px 0px 8px;
    margin-left: 6px;
    border-right: 0px;
}

#bluetooth {
    color: #fe8019;
    border-radius: 0px 8px 8px 0px;
    margin-right: 6px;
    border-left: 0px;
}

/* Grupo 3: Audio + Micrófono */
#pulseaudio {
    color: #fe8019;
    border-radius: 8px 0px 0px 8px;
    margin-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #fe8019;
    border-radius: 0px 8px 8px 0px;
    margin-right: 6px;
    border-left: 0px;
}

/* Grupo 4: Battery */
#battery {
    color: #fe8019;
    border-radius: 8px;
    margin-left: 0px;
    margin-right: 0px;
}

#battery.warning {
    color: #fabd2f;
}

#battery.critical {
    color: #fb4934;
}

/* Grupo 5: Backlight (sola) */
#backlight {
    color: #fe8019;
    border-radius: 8px;
    margin-left: 6px;
    margin-right: 6px;
}

#tray {
    border-radius: 8px;
    margin-left: 6px;
    margin-right: 13px;
}

#workspaces {
    background: #3c3836;
    border-radius: 8px;
    margin-left: 13px;
    padding-right: 0px;
    padding-left: 6px;
}

#clock {
    color: #fe8019;
    border-radius: 8px;
    margin-left: 13px;
    margin-right: 6px;
}
